<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" >
  <div class="navbar-nav">
      <a class="nav-item nav-link">Home</a>
      <a class="nav-item nav-link" >Logout</a>
  </div>
</nav> -->

<!-- main app container -->

<div class="topnav">
  <div class="topnav-right">
    <a href="#search">Home</a>
    <a href="#about">Logout</a>
  </div>
</div>

<router-outlet></router-outlet>

<!--
  <div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
 -->
