<h2 style="text-align: center;">Registro de Clientes</h2>
<form class="row g-3">
<br>
  <h4>Información del cliente</h4>
  <div class="col-12">  <!--imprime una nueva linea¡? -->
  </div>

  <div class="col-md-6">
    <label for="inputAddress2" class="form-label">Nit</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Nit">
  </div>

  <div class="col-md-6">
    <label for="inputAddress2" class="form-label">Empresa</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Empresa">
  </div>

  <div class="col-md-6">
    <label for="inputAddress2" class="form-label">Ciudad</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Ciudad">
  </div>

  <div class="col-md-6">
    <label for="inputAddress2" class="form-label">Dirección</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Dirección">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Teléfono</label>
    <input type="text" class="form-control" id="inputEmail4" placeholder="Teléfono">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
  </div>
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Observaciones</label>
    <input type="text" class="form-control" id="inputEmail4" placeholder="Observaciones">
  </div>
  <br>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-primary">Cancelar</button>
  </div>
</form>
